body {
  font-family: Arial, Roboto, sans-serif;
  color: var(--Dark-grey);
}

.hidden {
  display: none !important;
}

#confirmationModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}


.modal-content {
  background: #F5F0E6;
  padding: 24px;
  max-width: 600px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
  font-size: 24px;
  color: #141414;
}

#confirmationText {
  font-size: 14px;
  color: #A00000;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}

.modal-content h3 {
  font-size: 24px;
  color: #141414;
  margin-bottom: 5px;
}

.modal-content p {
  font-size: 14px;
  color: #333;
}

.intro-text {
  margin-bottom: 32px;
}

.info-box {
  background: #F0EBE1;
  padding: 24px;
  border-radius: 12px;
  margin-bottom: 32px;
  text-align: left;
}

.info-row {
  display: flex;
  justify-content: space-between;
  padding: 13px 0;
  font-size: 14px;
}

.info-row span:first-child {
  color: #141414;
  font-weight: bold;
}
.info-row span:last-child {
  width: 45%;
  color: #333;
}

.link-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 16px;
  background: #F0EBE1;
  border-radius: 12px;
}

#shareLink {
  border: none;
  padding: 15px;
  flex-grow: 1;
  font-size: 14.4px;
  font-weight: bold;
  color: #141414;
  background-color: #F0EBE1;
}

#copyBtn {
  background: #F0EBE1;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

.iconshl img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

#closeBtn {
  margin-top: 32px;
  background: #A00000;
  color: #F0EBE1;
  border: none;
  padding: 11px 24px;
  border-radius: 6px;
  cursor: pointer;
}

#closeBtn:hover {
  background: #F0EBE1;
  color: #A00000;
  transition: background-color 0.3s ease, transform 0.3s ease;
}